language: node_js
node_js: node
cache:
  directories:
  - node_modules
env:
- CI=true
deploy:
  provider: heroku
  api_key:
    secure: 6ab531e4-3bd9-4d71-b1fa-594e3fa42162 
  on:
    repo: Shubanshii/hot-cold2
